.home__content {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.home__box-teams {
    height: 100%;
    max-height: 60%;
    width: auto;
}

.home__list {
    height: 100%;
    max-height: 90%;
    overflow-y: auto;
    overflow-y: auto;
    overflow-x: hidden;

    & .list-group {
        --bs-list-group-bg: $bg-primary;
        --bs-list-group-color: $text-primary;
    }
}

.home__opciones {

    width: 100%;
    
    & span {
        font-size: 20px;
        font-weight: 600;
    }
}
